<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
        <li v-for="(user,index) in users">
            {{ user.name }}
            <button v-on:click.prevent="curForm='updateform'">edit</button>
            <button v-on:click.prevent="hapus(index)">hapus</button>
        </li>
      <component :is="curForm">
      
      
      

    </div>
    <template id="inputt">
      <div>
      <input type="text" v-model="nama">
      <button v-on:click.prevent="tambah(nama)" >tambah</button>
      </div>
    </template>

    <template id="updatee">
    <div>
        <input type="text">
        <button>update</button>
    </div>
    </template>
    <script>
      Vue.component('inputform',{
          template:'#inputt'
      });
      Vue.component('updateform',{
          template:'#updatee'
      });
      const App = new Vue({
        el: '#app',
        data: {
            curForm:"inputform",
            nama:'',
            users:[
                {
                    name:'Hanafi Azra'
                },
                {
                    name:'Kevin'
                },
                {
                    name:'Agus'
                }
            ]
        },
        methods:{
            hapus: function(index){
                this.users.splice(index,1)
            },
            tambah:function(nama){
                this.users.push({name:nama})
            }
        }
      })
    </script>
  </body>
</html>